body {
    background-color: azure;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
    height: 95vh;
    background-color: darkgray;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
}

nav ul {
    display: flex;
}

nav ul li a {
    margin: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}

.LOGO {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
    font-size: 22px;
}

.text-container p:nth-child(1) {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.text-container p:nth-child(2) {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
    font-size: 60px;
}

.text-container p:nth-child(3) {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(0, 0, 0, 0.4);
    font-size: 30px;
    line-height: 30px;
}

.text-container p {
    line-height: 2px;
    margin: 45px 0px 25px;
}

.text-container {
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}

.text-container button {
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}

.hire-btn {
    border: 2px solid #373636;
    color: black;
}

.down-cv {
    background-color: black;
    color: #ffffff;
}

button :active {
    transform: scale(1.1)
}

.final {
    height: 500px;
    position: absolute;
    bottom: 0px;
    left: 70%;
    transform: translateX(-70%);
}

.about-container {
    width: 80%;
    height: 330px;
    background-color: white;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    margin: 7% auto 20px auto;
    position: relative;
    bottom: -50%;
    align-items: center;
    justify-content: space-evenly;
}

.about-text {
    width: 550px;
}


}
.about-container img {
    height: 200%;
    width: 100%;
}
.about-text p:nth-child(1) {
    color: black;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    line-height: 0px;
}
.about-text p:nth-child(2) {
    color: black;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    line-height: 5px;
}
.about-text p:nth-child(3),
.about-text p:nth-child(4) {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.about-text button {
    width: 120px;
    height: 40px;
    color: white;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: none;
}
.contact-me p {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.contact-me button {
    width: 190px;
    height: 40px;
    background-color: silver;
}